.amazonpay_order_review {
  padding-top: 10px;
}

.amazonpay_order_review strong {
  padding-bottom: 10px;
  font-size: 1.8rem;
  font-weight: 600;
  display: inline-block;
}

#amazonpay_shopper_details_values, #amazonpay_payment_descriptor {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  line-height: 1.7;
}

@media only screen and (max-width: 768px) {
  .amazonpay_order_review strong {
    padding-left: 15px;
  }

  .amazonpay_order_review_details {
    margin-left: 15px;
    margin-right: 15px;
  }
}
