<?xml version="1.0"?>
<!--
/**
 *
 * Adyen ExpressCheckout Module (https://www.adyen.com/)
 *
 * Copyright (c) 2015 Adyen BV (https://www.adyen.com/)
 * See LICENSE.txt for license details.
 *
 * Author: Adyen <magento@adyen.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="adyen_group_all_in_one">
                <group id="adyen_accepting_payments">
                    <include path="Adyen_ExpressCheckout::system/adyen_online_checkout.xml"/>
                </group>
            </group>
        </section>
    </system>
</config>
