on: ["push", "pull_request"]
name: Main Workflow

jobs:
  run:
    name: Run
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version: [ 7.4, 8.0, 8.1 ]

    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer:v1

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: TruffleHog OSS
        uses: trufflesecurity/trufflehog@main
        with:
          path: ./
          base: ${{ github.event.repository.default_branch }}
          head: HEAD
          extra_args: --debug --only-verified
